.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .content form input {
  margin-top: 8px;
}

.container .content form .input-group {
  display: flex;
}

.container .content form .input-group input + input {
  margin-left: 8px;
}

.container .content form .select-group {
  display: flex;
  justify-content: space-between;
}

.container .content form .select-group select + select {
  margin-left: 8px;
}

.spaced-items {
  display: flex;
  justify-content: space-between;
}

body {
  background-color: #fff8f8;
}
